*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.appWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 380px;
}

.centerContainer{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.topButtons{
    display: flex;
    width: 100%;
}

.addButton{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    user-select: none;
    cursor: default;
    transition-duration: 200ms;
}

.addButton:hover{
    background-color: #cfc;
}

.fieldWrapper{
    --cols: 9;
    --gap: 5px;
    --fieldWidth: 350px;
    --cellSize: calc(((var(--fieldWidth) - (var(--gap) * (var(--cols) - 1))) / var(--cols)));
    gap: var(--gap);
    display: flex;
    flex-wrap: wrap;
    max-width: var(--fieldWidth);
    min-width: var(--fieldWidth);
    position: relative;
}

.cellWrap{
    width: var(--cellSize);
    height: var(--cellSize);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: default;
    border-radius: 3px;
}

.cell_hint{
    background-color: #cfc;
}

.cell_selected{
    background-color: #3c3;
}
.cell_between{
    border: 1px solid transparent;
    border-radius: 0;
}
.cell_betweenV{
    /*background-color: rgb(224, 255, 224);*/
    border-left: 1px solid #3c3;
    border-right: 1px solid #3c3;
    height: calc(var(--cellSize) + var(--gap) * 2);
}

.cell_betweenH{
    /*background-color: rgb(224, 255, 224);*/
    border-top: 1px solid #3c3;
    border-bottom: 1px solid #3c3;
    width: calc(var(--cellSize) + var(--gap) * 2);
}
.cell_betweenV.cell_betweenH{
    width: 100%;
    height: 100%;
}

.ghostCell{
    --colsSelect: 6;
    --colsOffset: 3;
    --rowsSelect: 1;
    --rowsOffset: 1;
    width: calc(var(--cellSize) * var(--colsSelect) + var(--gap) * (var(--colsSelect) - 1));
    height: calc(var(--cellSize) * var(--rowsSelect) + var(--gap) * (var(--rowsSelect) - 1));
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    left: calc(var(--colsOffset) * (var(--cellSize) + var(--gap)));
    top: calc(var(--rowsOffset) * (var(--cellSize) + var(--gap)));
}

.ghostCellInner{
    position: absolute;
    width: 100%; /*for animate*/
    --minSize: calc(var(--cellSize) * 2 + var(--gap));
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.ghostCellInnerVertical{
    min-height: var(--minSize);
    flex-direction: column;
}

.ghostCellInnerHorizontal{
    min-width: var(--minSize);
}

.ghostCellLeft.ghostCell{
    justify-content: flex-start;
}

.ghostCellLeft .ghostCellInner{
    justify-content: flex-end;
    min-width: var(--cellSize);
    
}

.ghostCellLeft .ghostCellBorder{
    border-left: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.ghostCellRight.ghostCell{
    justify-content: flex-end;
}

.ghostCellRight .ghostCellInner{
    justify-content: flex-start;
    min-width: var(--cellSize);
}

.ghostCellRight .ghostCellBorder{
    border-right: 1px solid transparent;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.ghostCellItem{
    width: var(--cellSize);
    height: var(--cellSize);
    background-color: #cfc;
    border: 1px solid #3c3;
}

.ghostCellBorder{
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #3c3;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}