*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.appWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 380px;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.centerContainer{
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    padding: 10px 0px;
}

.topButtons{
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 0px 10px;
}

.addButton{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    user-select: none;
    cursor: default;
    transition-duration: 200ms;
}

.addButton:hover{
    background-color: #cfc;
}

.scoreWrap{
    border: 1px solid #ccc;
    padding: 2px 10px;
    border-radius: 3px;
    user-select: none;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreTitle{
    font-size: 10px;
}

.scoreCount{
    font-size: 18px;
}

.scoreGhost{
    position: absolute;
    font-size: 18px;
    top: 0;
    left: 0;
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    padding: 20px;
    max-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230px;
    border-radius: 10px;
    border: 1px solid #ccc;
    animation: popupIn 800ms linear forwards;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    justify-content: space-between;
}

@keyframes popupIn{
    0%{
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    50%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.1);
    }
    75%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.popupStatus{
    font-size: 60px;
    animation: popupStatusIn 1000ms forwards;
    animation-delay: 600ms;
    opacity: 0;
    transform: scale(3);
}

@keyframes popupStatusIn{
    0%{
        opacity: 0;
        transform: scale(3);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.popupScore {
    font-size: 18px;
    animation: popupScoreIn 1000ms forwards;
    animation-delay: 800ms;
    opacity: 0;
    transform: scale(3);
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.popupScoreValue {
    font-size: 36px;
}

.popupScoreLabel {
    font-size: 18px;
}

@keyframes popupScoreIn{
    0%{
        opacity: 0;
        transform: scale(3);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.popupButtonPlay{
    font-size: 18px;
    animation: popupButtonIn 1000ms forwards;
    animation-delay: 1000ms;
    opacity: 0;
    transform: scale(3);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    user-select: none;
    cursor: default;
    transition-duration: 200ms;
}

.popupButtonPlay:hover{
    background-color: #cfc;
}


@keyframes popupButtonIn{
    0%{
        opacity: 0;
        transform: scale(3);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}


.fieldScroll{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    padding: 0px 10px;
}

.fieldWrapper{
    --cols: 9;
    --gap: 5px;
    --fieldWidth: 350px;
    --cellSize: calc(((var(--fieldWidth) - (var(--gap) * (var(--cols) - 1))) / var(--cols)));
    gap: var(--gap);
    display: flex;
    flex-wrap: wrap;
    max-width: var(--fieldWidth);
    min-width: var(--fieldWidth);
    position: relative;
}

.cellWrap{
    width: var(--cellSize);
    height: var(--cellSize);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: default;
    border-radius: 3px;
    position: relative;
}

.cell_hint{
    background-color: #cfc;
}

.cell_selected{
    background-color: #3c3;
}
.cell_between{
    border: 1px solid transparent;
    border-radius: 0;
}
.cell_betweenV{
    /*background-color: rgb(224, 255, 224);*/
    border-left: 1px solid #3c3;
    border-right: 1px solid #3c3;
    height: calc(var(--cellSize) + var(--gap) * 2);
}

.cell_betweenH{
    /*background-color: rgb(224, 255, 224);*/
    border-top: 1px solid #3c3;
    border-bottom: 1px solid #3c3;
    width: calc(var(--cellSize) + var(--gap) * 2);
}
.cell_betweenV.cell_betweenH{
    width: 100%;
    border-top: none;
    border-bottom: none;
    /*height: 100%;*/
}

.cell_betweenV.cell_betweenH::before{
    box-sizing: border-box;
    content: "";
    position: absolute;
    height: calc(var(--cellSize));
    width: calc(var(--cellSize) + var(--gap) * 2);
    border-top: 1px solid #3c3;
    border-bottom: 1px solid #3c3;
}

.ghostCell{
    --colsSelect: 6;
    --colsOffset: 3;
    --rowsSelect: 1;
    --rowsOffset: 1;
    width: calc(var(--cellSize) * var(--colsSelect) + var(--gap) * (var(--colsSelect) - 1));
    height: calc(var(--cellSize) * var(--rowsSelect) + var(--gap) * (var(--rowsSelect) - 1));
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    left: calc(var(--colsOffset) * (var(--cellSize) + var(--gap)));
    top: calc(var(--rowsOffset) * (var(--cellSize) + var(--gap)));
}

.ghostCellInner{
    position: absolute;
    width: 100%; /*for animate*/
    --minSize: calc(var(--cellSize) * 2 + var(--gap));
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.ghostCellInnerVertical{
    min-height: var(--minSize);
    flex-direction: column;
}

.ghostCellInnerHorizontal{
    min-width: var(--minSize);
}

.ghostCellLeft.ghostCell{
    justify-content: flex-start;
}

.ghostCellLeft .ghostCellInner{
    justify-content: flex-end;
    min-width: var(--cellSize);
    
}

.ghostCellLeft .ghostCellBorder{
    border-left: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.ghostCellRight.ghostCell{
    justify-content: flex-end;
}

.ghostCellRight .ghostCellInner{
    justify-content: flex-start;
    min-width: var(--cellSize);
}

.ghostCellRight .ghostCellBorder{
    border-right: 1px solid transparent;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.ghostCellItem{
    width: var(--cellSize);
    height: var(--cellSize);
    background-color: #cfc;
    border: 1px solid #3c3;
}

.ghostCellBorder{
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #3c3;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}