*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.block{

}

.block_wrapper{
    max-width: 800px;
    margin: auto;
}

.big_text{
    font-size: 150px;
    color: #ccc;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-weight: 600;
    line-height: 135px;
}

.small_text{
    text-align: center;
    text-transform: uppercase;
    font-size: 9px;
    color: #ccc;
    font-weight: 400;
}